:root{
  --bgmain: #13131c;
  --accent: #42d97c;
  --textsecondary: rgba(255,255,255,.65);
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-image: linear-gradient(#1f1e2d 750px,#161620 calc(50% + 750px),#1f1e2d 100%);
  color: #fff;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}
a {
  color: #fff;
  text-decoration: none
}
header {
  height: 100vh;
}
.arrow {
 content: url('../img/strzalka.png');
 width: 3vh;
 margin-top: 10vh;
}
.background{
  width: 100%;
  height: 100vh;
  background-color: var(--bgmain);
  z-index: -1;
  position: absolute
}

.buttoncont {
  cursor: pointer;
  box-shadow: 0 12px 26px rgba(0,0,0,.4);
  background-color: #42d97c;
  color: #fff;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border-radius: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
  outline: 0;
  border: solid #42d97c
}

.nav-content {
  align-items: center;
  padding: 30px
}

.nav-toggle {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 20px
}

.nav-main {
  display: none;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  display: none
}

.nav-main-item {
  cursor: pointer;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  font-size: 15px
}

.nav-active {
  display: block;
  text-align: center
}
.main {
  height: 100%;
}
.header-text {
  padding: 20px;
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}
.header-text-primary {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 25px;
}
.header-text-primary-bold {
  font-weight: 600;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text-secondary {
  font-size: 20px;
  width: 60%;
  color: var(--textsecondary)
}
.header-image {
  box-shadow: 0 12px 26px rgba(0,0,0,.4);
  max-width: 80%;
  max-height: 150px;
  width: auto;
  border-radius: 50%;
}
.section-break {
  margin-top: 5vh;
  border-radius: 50px;
  height: 5px;
  width: 150px;
  background-color: #fff
}

.section-text {
  font-size: 50px;
  margin-top: 5vh;
}

.section-text-bold {
  font-weight: 600
}

.section-subtext {
  margin-top: 5vh;
  font-size: 20px;
  width: 60%;
  color: rgba(255, 255, 255, .65)
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.about-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 5vh;
  max-width: 930px
}

.about-main-card {
  display: block;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: #1d1d2a;
  border-radius: 10px;
  box-shadow: 0 12px 26px rgba(0, 0, 0, .4)
}

.about-main-card-icon {
  color: #42d97c;
}

.about-main-card-text {
  text-align: center;
}

.about-main-card-text-primary {
  font-weight: 800;
  font-size: 16px
}

.about-main-card-text-secondary {
  font-weight: 300;
  font-size: 13.5px
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  justify-content: space-between
}

.footer-main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 50%
}

.footer-section-break {
  height: 1px;
  width: 90%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, .65)
}

.footer-main-section-text-primary {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px
}

.footer-main-section-text-secondary {
  margin-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, .65)
}

.footer-main-section-icon {
  margin-bottom: 10px;
  font-size: 30px;
  color: rgba(255, 255, 255, .65)
}

.footer-text {
  padding-left: 20px;
  padding-right: 20px
}

.footer-text-primary {
  font-size: 16px;
  margin-bottom: 10px
}

.footer-text-secondary {
  font-size: 15px;
  color: rgba(255, 255, 255, .65);
  margin-bottom: 40px
}

@media screen and (min-width:600px) {
  .nav-content {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .nav-toggle {
    display: none
  }

  .nav-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
}

@media screen and (max-width:600px) {
  .header-image {
    width: 40%
  }

  .header-text {
    padding: 0
  }

  .header-text-primary {
    font-size: 30px
  }

  .header-text-secondary {
    width: 80%;
    font-size: 17.5px
  }

  .buttoncont {
    margin-top: 20px
  }

  .section-text {
    font-size: 30px
  }

  .section-subtext {
    width: 80%;
    font-size: 17.5px
  }

  .app-main {
    flex-direction: column
  }

  .app-main-card-group {
    display: none
  }

  .app-main-card {
    width: 260px
  }

  .sitelist-main-text-primary {
    font-size: 25px
  }

  .success-main {
    flex-direction: column
  }

  .success-main-text {
    width: 100%;
    text-align: center;
    margin-right: 0
  }

  .success-main-text-primary {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px
  }

  .success-main-text-secondary {
    margin-bottom: 20px
  }

  .success-main-image {
    width: 100%;
    overflow: hidden
  }

  .faq-main-card {
    width: 300px
  }

  .footer-main-section {
    width: 100%
  }
}

@media screen and (min-width:700px) {
  .main {
    height: 100%
  }
}

@media screen and (max-width:850px) {
  .background {
    height: 100%
  }
}
